.mask {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100%;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.icon-edit {
	mask-image: url('../../assets/images/global/icons/icon-edit.svg');
}
.icon-delete {
	mask-image: url('../../assets/images/global/icons/icons-trash.svg');
}
.icon-close-modal {
	mask-image: url('../../assets/images/global/icons/icon-close-outline.svg');
}
.icon-close {
	mask-image: url('../../assets/images/global/icons/close-icon.svg');
}
.icon-close-cosapi {
	mask-image: url('../../assets/images/global/icons/btn-close-cosapi.svg');
}
.icon-facebook {
	mask-image: url('../../assets/images/global/icons/facebook-icon.svg');
}
.icon-instagram {
	mask-image: url('../../assets/images/global/icons/instagram-icon.svg');
}
.icon-linkedin {
	mask-image: url('../../assets/images/global/icons/linkdin-icon.svg');
}
.icon-youtube {
	mask-image: url('../../assets/images/global/icons/youtube-icon.svg');
}
.icon-signal {
	mask-image: url('../../assets/images/global/icons/signal.svg');
}
.icon-signal-button-right {
	mask-image: url('../../assets/images/global/icons/signal-buttom-right.svg');
}
.icon-signal-left {
	mask-image: url('../../assets/images/global/icons/icon-signal-left.svg');
}
.icon-signal-right {
	mask-image: url('../../assets/images/global/icons/signal-right.svg');
}
.icon-education {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-education.svg');
}
.icon-market {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-market.svg');
}
.icon-park {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-park.svg');
}
.icon-restaurant {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-restaurant.svg');
}
.icon-education-only {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-education-only.svg');
}
.icon-market-only {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-market-only.svg');
}
.icon-park-only {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-park-only.svg');
}
.icon-restaurant-only {
	mask-image: url('../../assets/images/global/icons/icons-map/icon-restaurant-only.svg');
}
.icon-all {
	mask-image: url('../../assets/images/global/icons/icon-all.svg');
}
.icon-place {
	mask-image: url('../../assets/images/home/images/icon-place-lanzamiento.svg');
}
.icon-down-signal {
	mask-image: url('../../assets/images/global/icons/icon-down-signal.svg');
}
.icon-complaintment {
	mask-image: url('../../assets/images/footer/libro-de-reclamaciones.svg');
}
.icon-tiktok {
	mask-image: url('../../assets/images/global/icons/icon-tiktok.svg');
}
.icon-whatsapp {
	mask-image: url('../../assets/images/thanks/icon-whatsapp-white.svg');
}
.icon-brochure {
	mask-image: url('../../assets/images/global/icons/icon-brochure.svg');
}
